In [1]:
import pandas as pd

In [2]:
import pickle

In [4]:
model = pickle.load(open("p_pred_model.pkl", "rb"))

In [5]:
scaler = pickle.load(open("p_pred_scaler.pkl", "rb"))

In [6]:
df = pd.read_csv("Crop_recommendation.csv")

In [7]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [8]:
df = df[['N','K','temperature','humidity','ph','rainfall']]

In [9]:
needed = df[["N","temperature",'humidity','ph','rainfall']]

In [11]:
df['P'] = model.predict(scaler.transform(needed))

C:\Users\SONAL SINGH\AppData\Local\Temp\ipykernel_19560\1143863232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['P'] = model.predict(scaler.transform(needed))

In [12]:
df

        N   K  temperature   humidity        ph    rainfall          P
0      90  43    20.879744  82.002744  6.502985  202.935536  47.199751
1      85  41    21.770462  80.319644  7.038096  226.655537  50.464657
2      60  44    23.004459  82.320763  7.840207  263.964248  49.836887
3      74  40    26.491096  80.158363  6.980401  242.864034  46.398908
4      78  42    20.130175  81.604873  7.628473  262.717340  48.429276
...   ...  ..          ...        ...       ...         ...        ...
2195  107  32    26.774637  66.413269  6.780064  177.774507  28.790879
2196   99  27    27.417112  56.636362  6.086922  127.924610  25.863334
2197  118  30    24.131797  67.225123  6.362608  173.322839  30.405482
2198  117  34    26.272418  52.127394  6.758793  127.175293  31.135777
2199  104  30    23.603016  60.396475  6.779833  140.937041  25.238289

[2200 rows x 7 columns]

In [13]:
X = df[['N', 'temperature', 'humidity', 'ph', 'rainfall', 'P']]
Y = df["K"]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20)

In [18]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [19]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

models = {
    "Random Forest" : RandomForestRegressor()}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,Y_train)
    Y_pred = model.predict(X_test)

    acc = r2_score(Y_test,Y_pred)
    mae = mean_absolute_error(Y_test,Y_pred)
    print(f"R2 value for {list(models.keys())[i]} : ", acc*100)
    print(f"MAE value for {list(models.keys())[i]} : ", mae)
    print("-"*50) # Just to make a boundary

R2 value for Random Forest :  94.06939132777244
MAE value for Random Forest :  4.618568181818182
--------------------------------------------------

In [20]:
import pickle

In [22]:
pickle.dump(model,open("K_pred_model.pkl","wb"))

In [23]:
pickle.dump(scale,open("K_pred_scale.pkl","wb"))